dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GUID Test
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"><link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Lato" rel="stylesheet">
    <!-- Favicon and Apple Icons-->
    <!-- Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="css/vendor.min.css">
    <!-- Main Template Styles-->
    <link id="mainStyles" rel="stylesheet" media="screen" href="css/styles.min.css">
  </head>
  <!-- Body-->
  <body>
    <!-- Site Header-->
    <header class="site__header">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-6 col-4">
            <div class="header__logo"><img class="img-fluid" src="img/logo.jpg"></div>
          </div>
          <div class="col-md-6 col-8">
            <div class="header__contacts">
              <ul class="header__contacts-list list-unstyled">
                <li class="header__contacts-list__item"><a class="header__contacts-list__item-phone" href="tel: 7783238486">778-323-8486</a></li>
                <li class="header__contacts-list__item d-sm-block d-none"><a class="text-black" href="#"><i class="icon icon-whatsapp mr-2 text-lg text-accent"></i>Sales Chat</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Off-Canvas Wrapper-->
    <main class="site__content">
      <!-- Page Content-->
      <div class="container">
        <!-- Checkout Bredcrumbs Module-->
        <div class="m__proceeding-checkout">
          <ul class="m__proceeding-checkout__list list-unstyled">
            <li class="m__proceeding-checkout__list-item"><span class="m__proceeding-checkout__list-item-caption"><i class="icon icon-clipboard"></i>Choose number</span></li>
            <li class="m__proceeding-checkout__list-item is-active"><span class="m__proceeding-checkout__list-item-caption"><i class="icon icon-file-text"></i>Choose plan</span></li>
            <li class="m__proceeding-checkout__list-item"><span class="m__proceeding-checkout__list-item-caption"><i class="icon icon-user-check"></i>Add users</span></li>
            <li class="m__proceeding-checkout__list-item"><span class="m__proceeding-checkout__list-item-caption"><i class="icon icon-files-empty"></i>Checkout</span></li>
          </ul>
        </div>
        <section class="s__tarif-plan">
          <h1 class="s__tarif-plan__title text-center">Select a plan for your trial<span class="checkout-tooltip d-iline-block ml-3 py-1 text-lg" data-toggle="tooltip" data-placement="top" title="This is a tooltip"><i class="icon icon-info"></i></span></h1>
          <form class="s__tarif-plan__inner">
            <ul class="s__tarif-plan__list list-unstyled row">
              <li class="s__tarif-plan__list-item col-md-3 col-sm-6">
                <article class="s__tarif-plan__article">
                  <label class="s__tarif-plan__article__inner">
                    <div class="s__tarif-plan__article__head">
                      <h2 class="s__tarif-plan__article__title mb-0">Essentials<span class="text-lg font-weight-bold">&trade;</span></h2>
                    </div>
                    <div class="s__tarif-plan__article__body">
                      <ul class="s__tarif-plan__article__props">
                        <li>Up to 10 users</li>
                        <li>Toll-free or local number</li>
                        <li>100 toll-free min/mo</li>
                        <li>4 people per video meeting</li>
                      </ul>
                      <div class="s__tarif-plan__article__price">
                        <h3 class="mb-3">Price after the trial</h3>
                        <h4>from <span class="font-weight-bold">$ 44.99</span> /user/month</h4>
                        <div class="s__tarif-plan__article__check">
                          <div class="form-group">
                            <label class="form-check form-check--radio">
                              <div class="form-check-wrapper">
                                <input class="form-check-input" type="radio" name="radio-static"><span class="form-check-checkmark"></span>
                              </div>
                            </label>
                          </div>
                          <div class="s__tarif-plan__article__check--submit">
                            <div class="text-center"><span>Select this plan</span></div>
                            <button class="btn btn--accent">Continue</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </label>
                </article>
              </li>
              <li class="s__tarif-plan__list-item col-md-3 col-sm-6">
                <article class="s__tarif-plan__article">
                  <label class="s__tarif-plan__article__inner">
                    <div class="s__tarif-plan__article__head">
                      <h2 class="s__tarif-plan__article__title mb-0">Standart<span class="text-lg font-weight-bold">&trade;</span></h2>
                    </div>
                    <div class="s__tarif-plan__article__body">
                      <ul class="s__tarif-plan__article__props">
                        <li>Unlimited users</li>
                        <li>Toll-free or local number</li>
                        <li>1,000 toll-free min/mo</li>
                        <li>4 people per video meeting</li>
                        <li>Unlimited internet fax</li>
                      </ul>
                      <div class="s__tarif-plan__article__price">
                        <h3 class="mb-3">Price after the trial</h3>
                        <h4>from <span class="font-weight-bold">$ 44.99</span> /user/month</h4>
                        <div class="s__tarif-plan__article__check">
                          <div class="form-group">
                            <label class="form-check form-check--radio">
                              <div class="form-check-wrapper">
                                <input class="form-check-input" type="radio" name="radio-static"><span class="form-check-checkmark"></span>
                              </div>
                            </label>
                          </div>
                          <div class="s__tarif-plan__article__check--submit">
                            <div class="text-center"><span>Select this plan</span></div>
                            <button class="btn btn--accent">Continue</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </label>
                </article>
              </li>
              <li class="s__tarif-plan__list-item col-md-3 col-sm-6 is-active">
                <div class="s__tarif-plan__list-item__bage">Most popular</div>
                <article class="s__tarif-plan__article">
                  <label class="s__tarif-plan__article__inner">
                    <div class="s__tarif-plan__article__head">
                      <h2 class="s__tarif-plan__article__title mb-0">Premium<span class="text-lg font-weight-bold">&trade;</span></h2>
                    </div>
                    <div class="s__tarif-plan__article__body">
                      <ul class="s__tarif-plan__article__props">
                        <li>Unlimited users</li>
                        <li>Toll-free or local number</li>
                        <li>1,500 toll-free min/mo</li>
                        <li>50 people per video meeting</li>
                        <li>Unlimited internet fax</li>
                      </ul>
                      <div class="s__tarif-plan__article__price">
                        <h3 class="mb-3">Price after the trial</h3>
                        <h4>from <span class="font-weight-bold">$ 44.99</span> /user/month</h4>
                        <div class="s__tarif-plan__article__check">
                          <div class="form-group">
                            <label class="form-check form-check--radio">
                              <div class="form-check-wrapper">
                                <input class="form-check-input" type="radio" name="radio-static" checked><span class="form-check-checkmark"></span>
                              </div>
                            </label>
                          </div>
                          <div class="s__tarif-plan__article__check--submit">
                            <div class="text-center"><span>Select this plan</span></div>
                            <button class="btn btn--accent">Continue</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </label>
                </article>
              </li>
              <li class="s__tarif-plan__list-item col-md-3 col-sm-6">
                <article class="s__tarif-plan__article">
                  <label class="s__tarif-plan__article__inner">
                    <div class="s__tarif-plan__article__head">
                      <h2 class="s__tarif-plan__article__title mb-0">Ultimate<span class="text-lg font-weight-bold">&trade;</span></h2>
                    </div>
                    <div class="s__tarif-plan__article__body">
                      <ul class="s__tarif-plan__article__props">
                        <li>Unlimited users</li>
                        <li>Toll-free or local number</li>
                        <li>2,500 toll-free min/mo</li>
                        <li>75 people per video meeting</li>
                        <li>Unlimited internet fax</li>
                        <li>Automatic call recording</li>
                        <li>Voicemail-to-text</li>
                      </ul>
                      <div class="s__tarif-plan__article__price">
                        <h3 class="mb-3">Price after the trial</h3>
                        <h4>from <span class="font-weight-bold">$ 44.99</span> /user/month</h4>
                        <div class="s__tarif-plan__article__check">
                          <div class="form-group">
                            <label class="form-check form-check--radio">
                              <div class="form-check-wrapper">
                                <input class="form-check-input" type="radio" name="radio-static"><span class="form-check-checkmark"></span>
                              </div>
                            </label>
                          </div>
                          <div class="s__tarif-plan__article__check--submit">
                            <div class="text-center"><span>Select this plan</span></div>
                            <button class="btn btn--accent">Continue</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </label>
                </article>
              </li>
            </ul>
          </form>
        </section>
      </div>
    </main>
    <!-- Site Footer-->
    <footer class="site__footer">
      <div class="site__footer__inner container">
        <div class="col-lg-9 mx-auto text-center">
          <h2 class="site__footer-title text-white mb-3">A complete phone system</h2>
        </div>
        <div class="row justify-content-center px-4">
          <div class="col-lg-3 col-sm-4">
            <ul class="site__footer__features-list list-unstyled">
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem, ipsum</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem ipsum dolor sit amet.</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem, ipsum dolor.</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem, ipsum</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, facilis.</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem ipsum dolor sit amet.</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-4">
            <ul class="site__footer__features-list list-unstyled">
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem, ipsum</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem ipsum dolor sit amet.</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem, ipsum dolor.</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem, ipsum</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, facilis.</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem ipsum dolor sit amet.</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
          </div>
          <div class="col-lg-3 col-sm-4">
            <ul class="site__footer__features-list list-unstyled">
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem, ipsum</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem ipsum dolor sit amet.</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem, ipsum dolor.</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem, ipsum</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, facilis.</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem ipsum dolor sit amet.</li>
              <li class="mb-3"><i class="icon icon-checkmark mr-2"></i>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9 mx-auto text-center">
          <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium?</p>
        </div>
      </div>
    </footer>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="js/vendor.min.js"></script>
    <script src="js/scripts.min.js"></script>
  </body>
</html>

src/templates/index.pug
extends partials/layout

//- Override default config variables
append config
  - var isPageTitle = false
  - var parentMenu = 'Components'
  - var menuTitle = 'Index'

//- Page Content
block content

  .container

    include modules/proceeding_checkout

    section.s__tarif-plan

      h1.s__tarif-plan__title.text-center

        | Select a plan for your trial

        span.checkout-tooltip.d-iline-block.ml-3.py-1.text-lg(data-toggle="tooltip" data-placement="top" title="This is a tooltip")

          i.icon.icon-info

      form.s__tarif-plan__inner

        ul.s__tarif-plan__list.list-unstyled.row

          li.s__tarif-plan__list-item.col-md-3.col-sm-6

            article.s__tarif-plan__article

              label.s__tarif-plan__article__inner

                .s__tarif-plan__article__head

                  h2.s__tarif-plan__article__title.mb-0

                    | Essentials

                    span.text-lg.font-weight-bold &trade;

                .s__tarif-plan__article__body

                  ul.s__tarif-plan__article__props

                    li Up to 10 users

                    li Toll-free or local number

                    li 100 toll-free min/mo

                    li 4 people per video meeting

                  .s__tarif-plan__article__price

                    h3.mb-3 Price after the trial

                    h4 from <span class="font-weight-bold">$ 44.99</span> /user/month

                    .s__tarif-plan__article__check

                      .form-group

                        label.form-check.form-check--radio

                          .form-check-wrapper

                            input.form-check-input(type="radio" name="radio-static")

                            span.form-check-checkmark

                      .s__tarif-plan__article__check--submit

                        .text-center

                          span Select this plan

                        button.btn.btn--accent Continue

          li.s__tarif-plan__list-item.col-md-3.col-sm-6

            article.s__tarif-plan__article

              label.s__tarif-plan__article__inner

                .s__tarif-plan__article__head

                  h2.s__tarif-plan__article__title.mb-0

                    | Standart

                    span.text-lg.font-weight-bold &trade;

                .s__tarif-plan__article__body

                  ul.s__tarif-plan__article__props

                    li Unlimited users

                    li Toll-free or local number

                    li 1,000 toll-free min/mo

                    li 4 people per video meeting

                    li Unlimited internet fax

                  .s__tarif-plan__article__price

                    h3.mb-3 Price after the trial

                    h4 from <span class="font-weight-bold">$ 44.99</span> /user/month

                    .s__tarif-plan__article__check

                      .form-group

                        label.form-check.form-check--radio

                          .form-check-wrapper

                            input.form-check-input(type="radio" name="radio-static")

                            span.form-check-checkmark

                      .s__tarif-plan__article__check--submit

                        .text-center

                          span Select this plan

                        button.btn.btn--accent Continue

          li.s__tarif-plan__list-item.col-md-3.col-sm-6.is-active

            .s__tarif-plan__list-item__bage Most popular

            article.s__tarif-plan__article

              label.s__tarif-plan__article__inner

                .s__tarif-plan__article__head

                  h2.s__tarif-plan__article__title.mb-0

                    | Premium

                    span.text-lg.font-weight-bold &trade;

                .s__tarif-plan__article__body

                  ul.s__tarif-plan__article__props

                    li Unlimited users

                    li Toll-free or local number

                    li 1,500 toll-free min/mo

                    li 50 people per video meeting

                    li Unlimited internet fax

                  .s__tarif-plan__article__price

                    h3.mb-3 Price after the trial

                    h4 from <span class="font-weight-bold">$ 44.99</span> /user/month

                    .s__tarif-plan__article__check

                      .form-group

                        label.form-check.form-check--radio

                          .form-check-wrapper

                            input.form-check-input(type="radio" name="radio-static" checked)

                            span.form-check-checkmark

                      .s__tarif-plan__article__check--submit

                        .text-center

                          span Select this plan

                        button.btn.btn--accent Continue

          li.s__tarif-plan__list-item.col-md-3.col-sm-6

            article.s__tarif-plan__article

              label.s__tarif-plan__article__inner

                .s__tarif-plan__article__head

                  h2.s__tarif-plan__article__title.mb-0

                    | Ultimate

                    span.text-lg.font-weight-bold &trade;

                .s__tarif-plan__article__body

                  ul.s__tarif-plan__article__props

                    li Unlimited users

                    li Toll-free or local number

                    li 2,500 toll-free min/mo

                    li 75 people per video meeting

                    li Unlimited internet fax

                    li Automatic call recording

                    li Voicemail-to-text

                  .s__tarif-plan__article__price

                    h3.mb-3 Price after the trial

                    h4 from <span class="font-weight-bold">$ 44.99</span> /user/month

                    .s__tarif-plan__article__check

                      .form-group

                        label.form-check.form-check--radio

                          .form-check-wrapper

                            input.form-check-input(type="radio" name="radio-static")

                            span.form-check-checkmark

                      .s__tarif-plan__article__check--submit

                        .text-center

                          span Select this plan

                        button.btn.btn--accent Continue
