dist/components/forms.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Forms
    </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"><link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Lato" rel="stylesheet">
    <!-- Favicon and Apple Icons-->
    <!-- Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="../css/vendor.min.css">
    <!-- Main Template Styles-->
    <link id="mainStyles" rel="stylesheet" media="screen" href="../css/styles.min.css">
  </head>
  <!-- Body-->
  <body>
    <!-- Off-Canvas Wrapper-->
    <main class="site__content">
      <!-- Page Content-->
      <div class="container py-5">
        <h4 class="font-weight-bold">Forms</h4>
        <div class="row">
          <div class="col-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, aspernatur? Iure a sunt necessitatibus laudantium nihil autem architecto, voluptatum repellat quos aspernatur vel fuga similique, beatae, molestiae illo earum delectus?</div>
          <div class="col-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, aspernatur? Iure a sunt necessitatibus laudantium nihil autem architecto, voluptatum repellat quos aspernatur vel fuga similique, beatae, molestiae illo earum delectus?</div>
        </div>
      </div>
    </main>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="../js/vendor.min.js"></script>
    <script src="../js/scripts.min.js"></script>
  </body>
</html>

src/templates/components/forms.pug
extends ../partials/layout

//- Override default config variables
append config
  - var isHeader = false
  - var isFooter = false
  - var pageTitle = 'Forms'
  - var isNestedFile = true
  - var parentMenu = 'Components'

//- Page Content
block content

  .container.py-5
    h4.font-weight-bold #{pageTitle}

    .row

      .col-6
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, aspernatur? Iure a sunt necessitatibus laudantium nihil autem architecto, voluptatum repellat quos aspernatur vel fuga similique, beatae, molestiae illo earum delectus?

      .col-6
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, aspernatur? Iure a sunt necessitatibus laudantium nihil autem architecto, voluptatum repellat quos aspernatur vel fuga similique, beatae, molestiae illo earum delectus?
